<template>
	<div>
		<ul class="list-group">
			<li class="list-group-item" v-for="account in accounts" :key="account.accountId">{{ account.account.wallet }}</li>
		</ul>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				accounts: this.$store.getters.getAccounts
			}
		},
		created() {
			console.log('Account List created');
			for(const key in this.$store.getters.getAccounts) {
				console.log('AccountList created in for');
				const account = this.$store.getters.getAccounts[key];
				console.log(account);
			}
		}
	}
</script>

<style scoped>

</style>